<!-- footer.component.html -->

<div id="footer-container" class="card-container">
    <img class="logo foo" src="./starter-code/assets/shared/desktop/logo.svg" alt="Company Logo">
  
    <div class="links-container foo">
      <a routerLink="/">Home</a>
      <a routerLink="/about">About us</a>
      <a routerLink="/plan">Create your plan</a>
    </div>
  
    <div class="icon-container">
      <a href="https://www.facebook.com/" target="_blank"><img src="./starter-code/assets/shared/desktop/icon-facebook.svg" alt="Facebook Link"></a>
      <a href="https://twitter.com/" target="_blank"><img src="./starter-code/assets/shared/desktop/icon-twitter.svg" alt="Twitter Link"></a>
      <a href="https://instagram.com/" target="_blank"><img src="./starter-code/assets/shared/desktop/icon-instagram.svg" alt="Instagram Link"></a>
    </div>
  </div>
  