
<div class="main">
    <div class="content-wrapper">
      <h1>Create a plan</h1>
      <p>Build a subscription plan that best fits your needs. We offer an assortment of the best artisan coffees from around the globe delivered fresh to your door.</p>
    </div>
  
    <div class='bar pbar'>
      <h2>01</h2>
      <h3>Pick your<br id='br1'> coffee</h3>
      <p>Select from our evolving range of artisan coffees. Our beans are ethically sourced and we pay fair prices for them. There's new coffees in all profiles every month for you to try out.</p>
    </div>
  
    <div id="barr" class='bar pbar'>
      <div class="circle pcircle"></div>
      <h2>02</h2>
      <h3>Choose the frequency</h3>
      <p>Customize your order frequency, quantity, even your roast style and grind type. Pause, skip or cancel your subscription with no commitment through our online portal.</p>
    </div>
  
    <div>
      <h2>03</h2>
      <h3>Receive and enjoy!</h3>
      <p>We ship your package within 48 hours, freshly roasted. Sit back and enjoy award-winning world-class coffees curated to provide a distinct tasting experience.</p>
    </div>
  
    <div class="desktop-wrapper">
      <div class="desktop-nav-menu">
        <p class="menu-p" data-target="0"><span class='prefSpan'>01</span> <span>Preferences</span></p>
        <p class="menu-p" data-target="1"><span class='beanSpan'>02</span> <span>Bean type</span></p>
        <p class="menu-p" data-target="2"><span class='quantitySpan'>03</span> <span>Quantity</span></p>
        <p id="grindP" class="menu-p" data-target="3"><span class='grindSpan'>04</span> <span>Grind option</span></p>
        <p class="menu-p" data-target="4"><span class='deliverySpan'>05</span> <span>Deliveries</span></p>
      </div>
  
     
  
      <div class="order-summary">
        <div class="os-container">
          <div class="os-heading">
            <h2>Order Summary</h2>
            <img class="close-summary" src="https://th.bing.com/th?id=OIP.7INwCDNvue7AcpeZVAxG-gHaIo&w=231&h=269&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt=".">
          </div>
          <p class="end-content">
            
          </p>
          <p class="confirmation">Is this correct? You can proceed to checkout or go back to plan selection if something is off. Subscription discount codes can also be redeemed at the checkout.</p>
          <div class="btns-container">
            <p class="total-cost">test</p>
            <button>Checkout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  